body
{
    margin: 15px 100px 0px 100px;
    padding: 5px 5px 5px 5px;
    /*border: 2px solid black;*/
    text-align: center;
    color: blue;
    padding: 20px 20px 60px 20px;
    
}

form
{
   padding: 20px 50px 20px 50px;
   background-image: url("temp1.jpg");
   background-repeat: repeat;
}


 table, th, td{
    border: 1px solid blue;
    border-collapse: collapse;
 }
 td
 {
    color: black;
    height: 30px;
 }

 

 .SC, .CH, .GP, .G, .FG
 {
    text-align: middle;
    width: 100px;
 }
 .sub
 {
    padding-left: 10px;
    text-align: left;
    width: 500px;
 }

 .GC
 {
    color: blue;
    font-weight: bold;
 }

 button
 {
   float: right;
   color: black;
   background-color: white;
 }

 button:hover
 {
   background-color: black;
   color: white;
 }